<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <div class="nav-bg"></div>
  <ul>
    <li><a href="\">DTSC-691</a></li>
    <li><a href="\resume">Resume</a></li>
    <li><a href="\biographical_homepage">Bio</a></li>
    <li><a href="\other_projects">Other Projects</a></li>
  </ul>
</nav>

<div class="bio-page">
    <div class="intro-wrapper">
        <div class="intro-text">
            In this page, I will be showcasing two projects that I completed during my undergraduate studies at the University
            of Waterloo. One of the two includes a project that was presented at the University of Waterloo's Local Hackathon
            and won second place in the competition. The second project included here is one that was professionally done for a
            non-for-profit organization located in Montreal, Canada.
        </div>
    </div>
    <div class="resume-wrapper">
        <h2>Projects</h2>
            <div class="intro-wrapper">
                <div class="intro-text">
                    The first project that I would like to showcase is one that I worked on during the University of Waterloo's local
                    hackathon day in my first year as an undergraduate student. I was working alongside two other software engineers
                    in my team. This project was meant to provide accessibility measures to students with hearing disabilities, in order
                    to facilitate note-taking in the classroom. We incroporated the Google text-to-speech API to convert audio to text.
                    The project was demo-ed live to judges and landed the second place award among all the projects in the competition.
                    You can find a link to the GitHub repository for this project:
                    <a href="https://github.com/RosieBahrani/UWLocalHackDay/tree/master/Script" title="Project Link">Project Link</a>
                </div>
            </div>
            <div class="intro-wrapper">
                <div class="intro-text">
                    The next project that I would like to showcase is one that I was hired to do for a non-for-profit organization in Montreal,
                    called "Y4Y Quebec" which focuses on youth and teen self-development and community involvement. This company required a development
                    of an internal software for internal chats and communications (one similar to Slack). I used an open source project called
                    "Rocket Chat" which provided much of the similar features and functionalities and hosted the application on the paid version of Heroku
                    for the company to use. You can find a link to the GitHub repository for this project:
                    <a href="https://github.com/RosieBahrani/UWLocalHackDay/tree/master/Script" title="Project Link">Project Link</a>
                </div>
            </div>
    </div>
</div>
