<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <div class="nav-bg"></div>
  <ul>
    <li><a href="\">DTSC-691</a></li>
    <li><a href="\resume">Resume</a></li>
    <li><a href="\biographical_homepage">Bio</a></li>
    <li><a href="\other_projects">Other Projects</a></li>
  </ul>
</nav>

<div class="resume-page">
    <div class="intro-wrapper">
        <img src="../static/profile_2.png" class="profile-img">
        <div class="intro-text">
            Welcome to my web application. My name is Rosie Bahrani, and I am a software engineer by day and a DTSC student by night.
            I graduated from the University of Waterloo with a degree in Software Engineering in 2022. I started working as a software engineer
            for a financial firm after graduation. The inspiration behind this project comes from the time that I spent working on financial models
            that included analyses on the prices of futures and options contracts.
        </div>
    </div>
    <div class="resume-wrapper">
        <h2>Education</h2>
        <ul>
            <li>Eastern University, Master of Data Science (Jul 2024 - Dec 2025)</li>
                <ul>
                    <li>Relevant courses: Foundations of Machine Learning Models, Statistical Modeling, Data/Database
                        Management with SQL, Data Analytics in R, Data Manipulation, Fundamentals of Data Science
                    </li>
                </ul>
            <li>University of Waterloo, Bachelor of Software Engineering (Sept 2017 - Jun 2022) </li>
                <ul>
                    <li>
                        Relevant courses: Data Structures, Combinatorics, Sequential Programming, Statistics, Linear Algebra, Concurrent and Parallel Programming, Operating Systems, Computer Networks, Machine Learning
                    </li>
                </ul>
        </ul>

        <h2>Work Experiences</h2>
        <ul>
            <li>Citadel | Full-time Software Engineer - Data Engineering Team (Aug 2022 - Aug 2025)</li>
                <ul>
                    <li>Designed and implemented scalable trade data models and ingestion pipelines for Commodities, Credit, and Fixed Income middle offices, enabling efficient data processing and downstream ingestion </li>
                    <li> Implemented anomaly detection pipelines to ensure data accuracy and correctness by flagging inconsistencies across external exchange data and internal reference data using Python and Java </li>
                    <li> Developed a trade date calculation system for a universe of futures/options contracts traded in the firm </li>
                    <li> Redesigned the futures contract generation process, improving performance by 78% through algorithmic optimizations and efficient data structuring</li>
                </ul>
            <li>Wealthsimple | Software Developer Intern (Jan 2022 - Apr 2022) </li>
                <ul>
                    <li> Automated database access request checks to decommission manual approvals using Python and React </li>
                    <li> Implemented a service request router to automate Jira task assignment based on project scope </li>
                </ul>
            <li>Morgan Stanley | Software Developer Intern (May 2020 - Aug 2020) </li>
                <ul>
                    <li>Developed an interactive UI to visualize trade data using C++, Java, HTML, CSS and the 3Forge data analysis tool</li>
                </ul>
            <li>AirMiles, LoyaltyOne | Software Developer Intern (Jan 2020 - Apr 2020) </li>
                <ul>
                    <li> Built an API engine to automatically issue points for users on each card purchase using Java </li>
                    <li> Identified and fixed a critical bug in production by implementing rigorous testing methods such as Unit Testing, Regression Testing, Domain Testing, and Integration Testing </li>
                </ul>
            <li>AI Research Lab, University of Waterloo | Research Assistant (Oct 2018 - Apr 2019)</li>
                <ul>
                    <li> Designed a classification model to distinguish images of cancer cells in biopsy samples with Deep Feature Extraction methods using Python (back-end) and JavaScript, React, HTML, CSS (front-end) </li>
                    <li> Altered and enhanced pre-trained neural networks such as DenseNet121 and VGG16/19 to maximize model accuracy using Python </li>
                </ul>
            <li>Element AI, Computer Vision Core Team | Software Developer Intern (May 2018 - Aug 2018)</li>
                <ul>
                    <li> Trained localization/recognition machine learning models for Optical Character Recognition (OCR) by generating synthetic data using Python, React, & Jinja; built a text-to-image conversion software using Variational Autoencoders (VAEs) & Generative Adversarial Networks (GANs)</li>
                </ul>
        </ul>
    </div>
</div>
